.details-background {
    background-color: white;
    min-height: 100vh;
    width: 100vw;
}

.blog-card-details {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
}

.edit-delete {
    display: flex;
/* 
    justify-content: flex-end; */
}

.details-btn {
    color: black !important;
    font-size: 1rem;
    border: solid black 2px !important;
    border-radius: 1rem !important;
}


.blog-category {
    font-size: 1.4rem;
    font-weight: 500;
}

.blog-title {
    font-size: 2rem;
}

.blog-summary {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    max-width: 80rem;
    font-style: italic;
}

/* img {
    width: auto;
    height: 30em;
    object-fit: cover;
} */
.details-img-container {
    width: auto;
    height: 30em;
    object-fit: cover;
}




.blog-content-details {
    font-size: 1.2rem;
    max-width: 40rem;
}

.blog-content{
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

.blog-author{
    font-size: 0.6em;
    font-style: italic;
}

@media (max-width: 735px) {
    .details-img-container {
        width: auto;
        height: 20em;
        object-fit: cover;
    }

    .blog-content {
        padding: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
    }
}

@media (max-width: 500px) {
    .details-img-container {
        width: auto;
        height: 15em;
        object-fit: cover;
    }

    .blog-content {
        padding: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
    }
}