.profile-details {
    font-size: 1.3rem;
    text-align: left;
}

.profile-container {
    height: 50vh;
    color: white;
}

.big-container {
    height: 80vh;
    max-width: 600px;
}

@media (max-width: 650px) {
    .profile-container {
        height: 50vh;
        width: 80vw;
        color: white;
    }
}