.footer {
    background-color: rgb(40, 40, 40);
    color: white;
}

.footer-slogan {
    color: rgb( 57, 57, 57);
}

.links-container {
    font-size: 1.2rem;
}

.footer-logo {
    height: 3rem;
    width: auto;
}

.gap-for-footer {
    gap: 25%;
}

.text {
    font-size: 5rem;
}