.footer {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100vw;
}

.footer-slogan {
    color: rgb( 57, 57, 57);
    line-height: 5rem;
}

.links-container {
    font-size: 1.2rem;
}

.footer-logo {
    height: 3rem;
    width: auto;
}

.gap-for-footer {
    gap: 25%;
}

.text {
    font-size: 5rem;
}

@media (max-width: 600px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;
    }
}
